<h1>Create element</h1>

<form action="/create" method="post">
<label for="name" >First Name </label><input type="text" name="name">
<label for="lastName" >Last Name </label><input type="text" name="lastName">
<label for="age" >Age </label><input type="text" name="age">
<label for="city" >City </label><input type="text" name="city">
<label for="country" >Country </label><input type="text" name="country"><br>
<input type="submit" name="submit" value="Submit">


</form>