* {
  margin: 0;
  padding: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  background-color: rgb(219, 219, 216);
}

nav {
  background-color: rgb(197, 19, 19);
  height: 80px;
}
nav {
  display: flex;
  justify-content: end;
}

nav ul li {
  list-style: none;
  display: inline-flex;
  justify-content: right;
  
  padding: 20px;
  margin-right: 20px;
}
nav ul li a {
  color: white;
  font-size: x-large;
}
nav ul li a:hover {
  color: blue;
}

h1 {
  text-align: center;
}
