body{
    background-color: rgb(219, 219, 216);
}

main{
    
   
    background-color: rgb(197, 19, 19);
    
}
nav{
    display: flex;
    justify-content: end;
    margin-right: 30px;
}

nav ul li{
    list-style: none;
    display: inline-flex;
    justify-content: right;
    padding: 8px;
    

}
nav ul li a{
    color: white;
}
nav ul li a:hover{
    color: blue;
}

h1{
    text-align: center;
}