* {
  margin: 0;
  padding: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  background-color: rgb(219, 219, 216);
}

nav {
  background-color: rgb(197, 19, 19);
  height: 80px;
}
nav {
  display: flex;
  justify-content: end;

}

nav ul li {
  list-style: none;
  display: inline-flex;
  justify-content: right;
  
  padding: 20px;
  margin-right: 20px;
}
nav ul li a {
  color: white;
  font-size: x-large;
}
nav ul li a:hover {
  color: blue;
}

h1 {
  text-align: center;
}

main{
    margin-left: 100px;
    margin-right: 100px;
    background-color: beige;
}
p{
    padding: 20px;
}

form{
  display: grid;
 
  justify-content: center;
  margin-top: 20px;
  padding-bottom: 20px;
  
}

form label{
  display: block;
  margin-top: 10px;
}

#ul ul{
  display: grid;
  grid-template-columns: auto auto auto;
  border-bottom: 1px solid black;
  
  padding: 30px;
}
#ul li{
  text-align: center;
  list-style: none;
  margin-top: 30px;
  color: blue;
  border-bottom: 2px solid black;
  padding-bottom: 15px;
}
